@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["ResultOk"] != null)
{
    <h1 class="alert-success">@TempData["ResultOk"]</h1>
}

<div class="container shadow p-5">

    <h1 class="text-center mb-3">Employee CRUD Operations </h1>

    <div class="col mb-3">
        <a asp-controller="Employee" asp-action="Create" class="btn btn-lg btn-primary"><i class="bi bi-file-plus-fill"></i>Add Employee</a>
    </div>
    <div class="col-md-12">
        <p>Kendo UI version<strong id="kendoVersion"></strong></p>

        @*Kendo Grid Example*@
        <div id="grid">

        </div>

    </div>
    <div>
        @using (Html.BeginForm("Index","Employee",FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        <span><b>Search By:</b></span>
                        @Html.RadioButton("searchBy","Name",true)
                        <text>Employee Name</text>
                        @Html.RadioButton("searchBy","Designation")
                        <text>Designation</text>
                        @Html.RadioButton("searchBy","Address")
                        <text>Location</text>
                    </td>
                </tr>
                <tr>
                    <td>
                    @Html.TextBox("searchValue",null, new{Class = "form-control", placeholder="Enter employee or desination or location"})
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <input type="submit" value="Search" class="btn btn-success" />
                    </td>
                </tr>
            </table>
        }
    </div>
    <br>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Employee Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Address</th>
                <th scope="col">CreatedOn</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td width="20%">
                        @item.Name
                    </td>
                    <td width="20%">
                        @item.Designation
                    </td>
                    <td width="25%">
                        @item.Address
                    </td>
                    <td width="20%">
                        @item.RecordCreatedOn
                    </td>
                    <td>
                        <div role="group" class="w-60 btn-group">
                            <a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>&nbsp;
                            <a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i>Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#kendoVersion").text(kendo.version);

        $("#grid").kendoGrid({
            dataSource: {
                transport:{
                    read:{
                        url: "Employee/GetGridData",
                        dataType:"json"
                    }
                }

            },
            
                filterable: true,
            sortable: true,
            columns:CustomerHelper.GenerateColumns(),
            editable : false,
            navigatable: true,
            selectable: "row"

        });
    
    
    
    });
    var CustomerHelper = {
        GenerateColumns: function() {
            return columns =[
                {field:"id", title:"ID", width:40, editable:false},
                 {field:"name", title:"Name", width:60, editable:true},
                  {field:"designation", title:"Company", width:60, editable:false},
                { field: "address", title: "Address", width: 60, editable: false },
            ]

        },

       
    }


</script>